* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica", sans-serif;
}
#messages,
#text {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
#messages {
  height: 500px;
}
#text {
  position: relative;
  left: 50%;
  margin-left: -200px;
}
