<!DOCTYPE html>
<html>
  <head>
    <title>Wizard of Oz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Users</h1>
      <ul>
        <% users.forEach(function (user) { %> 
          <li>
            <a href="/users/<%= user.email %>"><%= user.name %></a>
          </li>
        <% }); %>
        <a href="/users/new">Create User</a>
      </ul>
    </div>
  </body>
</html>