<form action="/users" method="POST">
  <label for="name">Name</label>
  <input name="name" type="text" required>
  <label for="email">Email</label>
  <input name="email" type="text" required>
  <label for="digits">Phone Number</label>
  <input name="digits" type="tel">
  <input type="submit" value="Sign Up!" required>
</form>